<html>
<head>
<title>ログイン</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<h1>facebook認証</h1>

<form method="GET" action="/auth/facebook">
<input type="submit" value="ログイン" />
</form>

</body>
</html>
