<html>

<head>
<title>メインメニュー</title>
<link rel="stylesheet" type="text/css" href="style.css" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<div id="header">

	<div id="title">
			Facebook + α
	</div>
	<div id="button_wrapper">
		<form>
			<BUTTON type="button">home</BUTTON>
		</form>
		<form mothed="GET" action="/logout">
			<input type="submit" value="logout">
		</form>
	</div>
	<br class="clear">

</div>

<div id="menu">

	<br><br>

	<ul>

	<div id="profile_image">
		<% image = @session['info']['image'] %>
		<img src="<%=image %>" height="100px" width="100px" alt="aaa">
	</div>
	
	<div id="profile">
		<li><%=@session['info']['name']%><br></li>
		<li>居住地：<%=@session['extra']['raw_info']['location']['name']%><br></li>
		<li>出身地：<%=@session['extra']['raw_info']['hometown']['name']%><br></li>
	</div>

	<br class="clear">
	
	<br>

	メニュー

	<ul>
		<li><a href="/">シェア一覧</a><br></li>
		<li><a href="/">機能２</a><br></li>
		<li><a href="/">機能３</a><br></li>
		<li><a href="/">機能４</a><br></li>
	</ul>

</div>

<div id="main">

		<p>
			シェア記事一覧
		</p>

		<%
			require "koala"

			token = @session['credentials']['token']

			# Facebook API クライアントを作成
			@graph = Koala::Facebook::API.new(token)
		%>

		<% links = @graph.get_object("me/links/?fields=link") %>
		<% names = @graph.get_object("me/links/?fields=name") %>
		<% descriptions = @graph.get_object("me/links/?fields=description") %>
		<% x = @graph.get_object("me/links/?fields=link,name,description,picture") %>

		<%
			i = 0
			x.each do |a|	
		%>
		<a href="<%=x[i]["link"]%>" target="_blank"><%=x[i]["name"]%></a>
		<%
			if x[i]["picture"] != nil
		%>
		<img src="<%= x[i]["picture"] %>" height="50" width="50">
		<%
			end	
		%>

		<br><br>

		<%
			if x[i]["description"] != nil
		%>
		<%=x[i]["description"]%>
		<%
			else
		%>
			※facebookでシェアした写真です。
		<%
			end	
		%>

		<br><br>

		<%
			i  = i + 1
			end
		%>

		<%
			#require 'pry'
			#binding.pry
		%>

</div>

</body>

</html>