<html>

<head>
<title>メインフレーム</title>
<link rel="stylesheet" type="text/css" href="style.css" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

	<p>
		シェア記事一覧
	</p>

	<%
		require "koala"

		token = @session['credentials']['token']

		# Facebook API クライアントを作成
		@graph = Koala::Facebook::API.new(token)
	%>

	<% links = @graph.get_object("me/links/?fields=link") %>
	<% names = @graph.get_object("me/links/?fields=name") %>
	<% descriptions = @graph.get_object("me/links/?fields=description") %>
	<% x = @graph.get_object("me/links/?fields=link,name,description,picture") %>

	<%
		i = 0
		x.each do |a|	
	%>
	<a href="<%=x[i]["link"]%>" ><%=x[i]["name"]%></a>
	<%
		if x[i]["picture"] != nil
	%>
	<img src="<%= x[i]["picture"] %>" height="50" width="50">
	<%
		end	
	%>

	<br><br>

	<%
		if x[i]["description"] != nil
	%>
	<%=x[i]["description"]%>
	<%
		else
	%>
		※facebookでシェアした写真です。
	<%
		end	
	%>

	<br><br>

	<%
		i  = i + 1
		end
	%>

	<%
		#require 'pry'
		#binding.pry
	%>

</body>

</html>