body{
	margin: 0;
}

#header{
	height:50px;
	background-color: #3B5595;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:4px;
	border-left-width:0px;
	border-color: #243965;
	border-style:solid;

}
#menu
	{
	float:left;
	width:30%;
	height:1200px;
	background-color: #A1ADC9;
	border-top-width:0px;
	border-right-width:4px;
	border-bottom-width:0px;
	border-left-width:0px;
	border-color: #AEC1E3;
	border-style:solid;
	}

#main
	{
	float:left;
	width:65%;
	height:1200px;
	background-color: #FFFFFF;
	overflow: scroll;
	margin: 20px;
	}

#title{
	width:400px;
	float:left;
	font-size: 30px;
	color: #FFFFFF;
}

#button_wrapper{
	float:right;
	width:200px;
}

#profile_image{
	float:left;
	margin-left: 10px;
	width:30%;
}

#profile{
	float: right;
	padding-right:30px;
	width:60%;
}

.clear{
	clear:both;
}

